[Desktop Entry]
Type=Application
Name=Postman
Comment=API development and testing tool
Exec=postman
Icon=postman
Terminal=false
Categories=Development;Network;
StartupNotify=false